<article class="list__item post">
	{{ partial "post_thumbnail.html" (dict "class" "list" "page" .) }}
	<header class="list__header">
		<h2 class="list__title post__title">
			<a href="{{ .RelPermalink }}" rel="bookmark">
				{{ .Title }}
			</a>
		</h2>
		<div class="post__date__container">
			<span class="post__date">
				<strong class="semibold gray">Created:</strong> {{ .Date.Format
				"2006-01-02 15:04" }}
				<!-- Created: <strong>{{ .Date.Format "2006-01-02 15:04" }}</strong> -->
			</span>
			<span class="post__update__date">
				<strong class="semibold gray">Latest Modified:</strong> {{ .Lastmod.Format
				"2006-01-02 15:04" }}
			</span>
		</div>
		{{- with .Params.lead }}
		<p class="list__lead post__lead">{{ . }}</p>
		{{- end }}
		{{ with partial "post_meta.html" . -}}
		<div class="list__meta meta">{{ . }}</div>
		{{- end }}
	</header>
	<div class="content list__excerpt post__content clearfix">
		{{ .Summary }}
	</div>
	{{- if .Site.Params.readmore }}
	{{- if .Truncated }}
	<div class="list__footer clearfix">
		<a class="list__footer-readmore btn" href="{{ .RelPermalink }}">{{ T
			"read_more" }}</a>
	</div>
	{{- end }}
	{{- end }}
</article>